body {
    background: #f9f9f9;
    color: #0e171c;
    display: grid;
    margin: 0;
    min-height: 100vh;
    place-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f0f0;
}

h2 {
    font-size: 66px;
    line-height: 1.25em;
    margin: .25em 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    width: auto;
}

/* ---------- CALENDAR ---------- */

.calendar {
    text-align: center;
}

    .calendar header {
        position: relative;
    }

    .calendar h2 {
        text-transform: uppercase;
    }

    .calendar thead {
        color: #343434;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 33px;
    }

    .calendar tbody {
        color: #343434;
        font-family: 'Montserrat', sans-serif;
        font-size: 33px;
        cursor: pointer;
    }

        .calendar tbody td:hover {
            border: 2px solid #e22432;
        }

    .calendar td {
        border: 2px solid transparent;
        display: inline-block;
        height: 2em;
        line-height: 2em;
        text-align: center;
        width: 4em;
    }

    .calendar .prev-month,
    .calendar .next-month {
        color: #cbd1d2;
    }

        .calendar .prev-month:hover,
        .calendar .next-month:hover {
            border: 2px solid #e22432;
        }

.current-day {
    background: #e22432;
    color: #f9f9f9;
}

.event {
    cursor: pointer;
    position: relative;
    background: #e22432;
}

    .event.current-day:after {
        background: #e22432;
    }

.btn-prev,
.btn-next {
    border: 2px solid #e22432;
    border-radius: 50%;
    color: #e22432;
    background-color: #e22432;
    height: 1.5em;
    font-size: .75em;
    line-height: 2em;
    margin: -1em;
    position: absolute;
    top: 50%;
    width: 1.5em;
}

.btn-prev {
    left: 320px;
}

.btn-next {
    right: 320px;
}

.resume {
    color: #1c1b1b;
    text-align: center;
    width: 320px;
    height: 565px;
    border-style: hidden;
    border-radius: 40px;
    position: absolute;
    top: 150px;
    right: 80px;
    background-color: #ffffff;
}

.res_data {
    color: #989ba5;
    font-size: 15px;
}

.register {
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 180px;
    height: 50px;
    border-style: hidden;
    border-radius: 15px;
    position: absolute;
    top: 75px;
    right: 150px;
    background-color: #e22432;
    cursor: pointer;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.create_event {
    cursor: pointer;
}
